@model SistemaEscolar.Models.Professor
<h2>Detalhes Professor</h2>
<p><strong>ID:</strong> @Model.Id</p>
<p><strong>Nome:</strong> @Model.Nome</p>
<p><strong>Disciplina:</strong> @Model.Disciplina</p>
<a class="btn" href="@Url.Action("Index")">Voltar</a>
