@model SistemaEscolar.Models.Curso
<h2>Detalhes Curso</h2>
<p><strong>ID:</strong> @Model.Id</p>
<p><strong>Nome:</strong> @Model.Nome</p>
<p><strong>Duração (semestres):</strong> @Model.DuracaoSemestres</p>
<a class="btn" href="@Url.Action("Index")">Voltar</a>
